.activities {
	padding-top: 95px;

	@media(max-width: 768px) {
		padding: 50px 0 20px;
	}

	&__label {
		font-size: 80px;
		letter-spacing: 4.4px;
		margin-bottom: 40px;

		@media(max-width: 768px) {
			font-size: 50px;
		}
		@media(max-width: 576px) {
			font-size: 38px;
		}
	}

	&__row {
		display: flex;
		overflow-x: auto;
	}

	&__item {		
		flex: 0 0 20%;
		height: 600px;
		color: #fff;
		position: relative;
		overflow: hidden;

		@media(max-width: 1200px) {
			flex: 0 0 30%;
		}
		@media(max-width: 992px) {
			flex: 0 0 40%;
		}
		@media(max-width: 768px) {
			flex: 0 0 60%;
		}
		@media(max-width: 576px) {
			flex: 0 0 90%;
		}

		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;

			background: linear-gradient(to top, rgba(#000, 0.5) 0%, rgba(#000, 0.1) 25%);

			// background: linear-gradient(45deg, rgb(49, 170, 226) 0%, rgb(157, 53, 192) 100%);

		}
	}

	&__content {
		padding: 20px 25px;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__title {
		@include font-bnb;
		font-size: 50px;
		margin-bottom: 15px;
		position: relative;

		transition: all 0.3s;

		&:hover {
			text-shadow: 3px 3px 5px $violet;
		}

		&:active {
			transition: all 0.1s;		
			transform: translateY(1px);
			text-shadow:  -3px -3px 5px $violet;
		}
	}

	&__text {
		line-height: 24px;
		letter-spacing: 0.4px;
	}
}