html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	background-color: #f8f8f8;
	font-size: 16px;
	@include font300;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.content {
	flex: 1 1 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	padding-top: 105px;
	@media(max-width: 768px) {
		padding-top: 50px;
	}
}

.lock {
	overflow: hidden;
}

.logo {
	transition: all 0.8s;
	transform-origin: 0;

	&:hover {
		transform: rotate(3deg);
	}

	&__image {
		@media(max-width: 768px) {
			max-width: 70px;
		}
	}
}

.burger {
	position: relative;
	cursor: pointer;
	display: block;
	border: transparent;
	outline: transparent;
	background-color: transparent;
	width: 30px;
	height: 20px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 7px;
		border-radius: 5px;
		background-color: $violet;
		transition: all 0.3s;
	}

	&::after {
		top: auto;
		bottom: 0;
		width: 50%;
	}

	&.active {

		&::before,
		&::after {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
			width: 100%;
		}
	}

}

.title {
	max-width: 600px;
	margin: 0 auto;
	color: #000;
	@include font-bnb;
	font-size: 80px;
	line-height: 1;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;

	@media(max-width: 992px) {
		font-size: 60px;
	}
	@media(max-width: 768px) {
		font-size: 40px;
		margin-bottom: 30px;
	}
	@media(max-width: 576px) {
		font-size: 30px;	
	}
}

.btn {
	cursor: pointer;
	border: 2px solid $violet;
	border-radius: 7px;
	width: 177px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include font-bebas;
	text-transform: uppercase;
	color: $violet;
	font-size: 24px;
	letter-spacing: 0.6px;

	transition: all 0.3s;

	&:hover {
		color: #fff;
		background: linear-gradient(to top, $violet, lighten($violet, 10%), $violet, lighten($violet, 10%), $violet);
		background-size: 100% 200%;
		animation: bg 1.5s ease-in-out forwards;
	}

	&--blue {
		background-color: rgb(0, 0, 255);
		color: #fff;
		border-color: rgb(0, 0, 255);

		&:hover {
			border-color: $violet;
		}
	}
}

@keyframes bg {
	0% {
		background-position: 0 -50%;
	}

	100% {
		background-position: 0 100%;
	}

	// 100% {
	// 	background-position: 0 -50%;
	// }
}