.header {

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {}

	&__menu {
		padding-top: 46px;
		padding-bottom: 40px;
	}
}

.logo {}

.menu {

	&__list {}

	&__item {
		display: inline-block;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		text-transform: uppercase;
		@include font-bebas;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.6px;
		transition: all 0.3s;
		word-spacing: 2px;

		&:hover,
		&:active {
			color: $violet;
		}
	}
}