.header {
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	width: 100%;

	@media(max-width: 768px) {
		height: 50px;
	}

	&.scrolled {
		background-color: #fff !important;
		// color: #fff;
		transition: background-color 200ms linear;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		@media(max-width: 768px) {
			padding-left: 20px;
			padding-top: 5px;
		}
	}

	&__menu {
	
		padding-top: 46px;
		padding-bottom: 40px;

		@media(max-width: 768px) {
			transition: all 0.8s;
			opacity: 0;
			transform: translateY(-200%);
			position: fixed;
			overflow: auto;
			top: 50px;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($violet, 0.85);
			color: #fff;
		}

		&.active {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__burger {
		display: none;

		@media(max-width: 768px) {
			display: block;
		}
	}
}

.logo {
	&__image {
		width: 70px;
	}
}

.menu {

	&__list {}

	&__item {
		display: inline-block;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		@media(max-width: 768px) {
			display: block;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

	&__link {
		text-transform: uppercase;
		@include font-bebas;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.6px;
		transition: all 0.3s;
		word-spacing: 2px;

		@media(max-width: 768px) {
			display: block;
			padding: 12px 30px 12px;

			&:active {
				background-color: lighten($violet, 20%);
			}
		}

		@media(min-width: 769px) {
			&:hover {
				color: $violet;
			}
		}
	}
}