.news {

	&__inner {
		padding: 100px 0 70px;

		@media(max-width: 768px) {
			padding: 50px 0;
		}
	}

	&__title {}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -40px;

		// @media(max-width: 1100px) {
		// 	flex-wrap: wrap;
		// 	justify-content: space-evenly;
		// }

		.product {
			margin-left: 40px;
		}
	}

	&__btn {
		margin: 0 auto;
	}
}