.rooms {
	padding-top: 100px;

	@media(max-width: 768px) {
		padding-top: 50px;
	}

	@media(max-width: 576px) {
		padding-top: 30px;
	}

	&__inner {}

	&__label {}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -44px;
	}

	&__column {
		flex: 1;
		margin-left: 44px;	

		&--big {
			flex: 2;
		}

		@media(max-width: 992px) {
			margin-right: 0;
			flex: 1 1 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.product {
				margin-right: 44px;
				&:last-child {
					margin-right: 0;
				}

				@media(max-width: 768px) {
					margin-right: 0;
				}
			}
		}
	}

	&__btn {
		margin: 0 auto;
		margin-bottom: 95px;

		@media(max-width: 768px) {
			margin-bottom: 60px;
		}

		@media(max-width: 576px) {
			margin-bottom: 30px;
		}
	}
}