.weather {
	min-height: 550px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;


	&__inner {
		padding-left: 50%;
	}

	&__content {
		height: 100%;
		padding: 100px 0 55px;
		color: #fff;
		max-width: 490px;

	}

	&__title {
		@include font-bnb;
		font-size: 130px;
		line-height: 103px;
		letter-spacing: 0.44px;
		margin-bottom: 30px;
	}

	&__text {
		line-height: 24px;
		margin-bottom: 40px;
	}

	&__btn {
		background-color: rgb(0, 0, 255);
		width: 170px;
		height: 52px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		@include font-bebas;
		font-size: 17px;
		letter-spacing: 0.6px;

		transition: all 0.3s;

		&:hover {
			background-color: $violet;
		}
	}
}