.weather {
	min-height: 550px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner {
		padding-left: 50%;

		@media(max-width: 768px) {
			padding-left: 30%;
		}

		@media(max-width: 576px) {
			padding-left: 20%;
		}
	}

	&__content {
		height: 100%;
		padding: 100px 0 55px;
		color: #fff;
		max-width: 490px;
	}

	&__title {
		@include font-bnb;
		font-size: 130px;
		line-height: 103px;
		letter-spacing: 0.44px;
		margin-bottom: 30px;

		@media(max-width: 768px) {
			font-size: 80px;
			line-height: 80px;
		}

		@media(max-width: 576px) {
			font-size: 50px;
			line-height: 50px;
		}
	}

	&__text {
		line-height: 24px;
		margin-bottom: 40px;
	}

	&__btn {}
}